<nav class="navbar navbar-expand-lg navbar-light text-white bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shopping List</a>
        </li>
      </ul>
      <div class="ml-auto d-flex">
        
        <ng-template [ngIf]="!this.authService.isAuthenticated()" class="ml-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signin" >Login</a>
            </li>
          </ul>
        </ng-template>

        <a class="nav-link" 
            style="cursor: pointer;" 
            (click)="onLogout()" 
            *ngIf="this.authService.isAuthenticated()">Logout</a>
      
        <ul class="dropdown" *ngIf="this.authService.isAuthenticated()" appDropdown>
          <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage Data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" #dropdownElem>
            <a class="dropdown-item" style="cursor: pointer;" (click)="saveData()">Save data</a>
            <a class="dropdown-item" style="cursor: pointer;" (click)="getData()">Fetch data</a>
          </div>
        </ul>
    </div>

    </div>
  </div>
</nav>
