<div class="card">
	<div class="card-header">
		<h2 class="d-inline-block">{{item.name}}</h2>
		<div class="btn-group show d-inline-block pull-right" appDropdown>
			<button class="btn btn-primary dropdown-toggle" type="button"><i class="fa fa-gear"></i><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><a style="cursor: pointer;" (click)="addToShoppingList()">To Shopping List</a></li>
				<li class="dropdown-item"><a style="cursor: pointer;" (click)="editRecipe()">Edit Recipe</a></li>
				<li class="dropdown-item"><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
			</ul>
		</div>
	</div>
	<div class="card-body">
		<img src="{{item.imgPath}}" class="img-fluid" alt="" width="100%">
		<hr>
		{{item.description}}
		<hr>
		<h5>Ingradients</h5>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let ingredient of item.ingredients">
				{{ ingredient.name }} - {{ ingredient.amount }}
			</li>
		</ul>
	</div>
</div>