<div class="row">
  <div class="col-sm-12 col-md-10 col-sm-offset-1 col-md-offset-2">  
    <form (ngSubmit)="onSignIn(signinForm)" #signinForm=ngForm>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" id="pass" name="password" ngModel class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Signup</button>
    </form>
  </div> 
</div>